/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
docker-compose.override.yml
/.docker

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
docker/nginx/laravel.conf
.docker/nginx/laravel.conf
docker/nginx/*.conf
PRODUCAO-laravel.conf
LOCAL-laravel.conf

#IGNORAR ARQUIVOS
#git update-index --assume-unchanged .docker-compose.yml
#git update-index --assume-unchanged config/tenancy.php

#VERIFICAR ARQUIVOS IGNORADOS
#git ls-files -v | grep '^h'

#REVERTER IGNORADOS
#git update-index --no-assume-unchanged .docker-compose.yml
#git update-index --no-assume-unchanged config/tenancy.php
docker/nginx/laravel.conf
docker/nginx/laravel.conf
