services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    env_file:
      - .env
    depends_on:
      - redis
      - mysql
    networks:
      - laravel

  reverb:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portalsulina-reverb
    restart: unless-stopped
    working_dir: /var/www
    command: "php artisan reverb:start --host=0.0.0.0 --port=8080"
    env_file: .env
    volumes:
      - ./:/var/www
    depends_on:
      - app
      - redis
    networks:
      - laravel
    expose:
      - "8080"

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/:/etc/nginx/conf.d/
      - ./docker/certbot/www:/var/www/certbot
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:5.7.22
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
    volumes:
      - ./.docker/mysql/dbdata:/var/lib/mysql
    ports:
      - "6990:3306"
    networks:
      - laravel

  redis:
    image: redis:latest
    networks:
      - laravel

  queue:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portalsulina-queue
    working_dir: /var/www
    command: php artisan queue:work --sleep=3 --tries=3 --timeout=90
    restart: unless-stopped
    volumes:
      - ./:/var/www
    depends_on:
      - redis
      - mysql
    networks:
      - laravel

networks:
  laravel:
    driver: bridge
