#message-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.message {
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.user-message {
    justify-content: flex-end;
}

.admin-message {
    justify-content: flex-start;
}

.message-content {
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
    font-size: 14px;
    line-height: 1.4;
}

.user-message .message-content {
    background-color: #dcf8c6;
    color: #000;
    border-radius: 10px 10px 0 10px;
}

.admin-message .message-content {
    background-color: #fff;
    color: #000;
    border-radius: 10px 10px 10px 0;
    border: 1px solid #ddd;
}

.message-time {
    font-size: 12px;
    color: #777;
    margin-left: 8px;
    white-space: nowrap;
}
.ctext-wrap {
border-radius: 10px 10px 0 10px;
border: 1px solid #ddd;
color: #000;
padding: 10px 15px; /* O padding define o espaço interno da borda */
box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos no cálculo da largura total */
word-wrap: break-word; /* Garante que o texto quebre corretamente */
display: inline-block; /* Permite que a largura da borda se ajuste ao conteúdo da mensagem */
}
